.resultadodados {
    font-size: 3em;
    text-align: center;
}

.IVA {
    font-size: 2em;
    text-align: center;
    color: #319bff;
}
.IT {
    font-size: 2em;
    text-align: center;
    color: #247bad;
}
.Utilidad {
    font-size: 2em;
    text-align: center;
    color: #1b3747;
}

